@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*ROOT STUFF*/
header,
section {
  overflow-x: hidden;
}

:root {
  --PlayfairDisplay: "Playfair Display", serif;
  --OpenSans: "Open Sans", sans-serif;
  --pink: #ffa39e;
  --darkgreen: #5C7669;
  --lightgrey: #f2f3f0;
  --black: #000000;
  --white: #ffffff;
  --darkgrey: #4d504a;
}
.lighttext{color:#f2f3f0;}

.whitetext{color:#ffffff;}

.darktext{color:#4d504a;}

.blacktext{color:#000000;}

.pinktext{color:#ffa39e;}

.greentext{color:#5C7669;}
html{
  font-size: 1.6rem;
  color: black;
  font-family: var(--OpenSans);
  margin: 0;
}
body{
  background-color: #f2f3f0;
}

/*h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.25rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.125rem;
}

p {
    font-size: 1rem;
    font-family: var(--OpenSans);
}*/

/*NAV - LIGHT*/
#header .navbar{
  background-color: #ffffff;
}
#header a {
  font-size: 13px;
  color: black;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#header .dropdown-menu {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#header .dropdown-menu a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
}

#header .dropdown-menu a:hover {
  background-color: var(--darkgreen);
  color: white;
}

#header .nav-item:last-child {
  /*padding-right: 4em;*/
}

#header .nav-item {
  padding: 0.9em;
}

#header .navbar-brand {
  /*padding-left: 4rem;*/
  padding-right: 0;
  margin-right: 0;
}

#header .navbar-brand img{
  /*width: 30%;*/
  padding-right: 0;
  margin-right: 0;
}

#header .nav-link:hover {
  color: var(--darkgreen);
}

#header .contactbtn {
    font-size: 13px;
  background-color: var(--darkgreen);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}

#header .contactbtn:hover{
    transform: scale(1.01);
    color: white;
}

/*END OF NAV-LIGHT*/

/*NAV - TRANSPARENT*/
#headertrans .navbar{
  background-color: rgba(255, 255,255, 0.7);
}
#headertrans a {
  font-size: 13px;
  color: black;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#headertrans .dropdown-menu {
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#headertrans .dropdown-menu a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
}

#headertrans .dropdown-menu a:hover {
  background-color: var(--darkgreen);
  color: white;
}

#headetrans .nav-item:last-child {
  /*padding-right: 4em;*/
}

#headertrans .nav-item {
  padding: 0.5em;
}

#headertrans .navbar-brand {
  /*padding-left: 4rem;*/
  padding-right: 0;
  margin-right: 0;
}

#headertrans .navbar-brand img{
  /*width: 30%;*/
  padding-right: 0;
  margin-right: 0;
}

#headertrans .nav-link:hover {
  color: var(--darkgreen);
}

#headertrans .contactbtn {
    font-size: 13px;
  background-color: var(--darkgreen);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}

#headertrans .contactbtn:hover{
    transform: scale(1.01);
    color: white;
}

/*END OF NAV-TRANSPARENT*/

/*NAV-DARK*/
#headeralt .navbar{
  background-color: var(--darkgrey);
}
#headeralt a {
  font-size: 13px;
  color: white;
  font-weight: 500;
  letter-spacing: 0.2rem;
}

#headeralt .dropdown-menu {
  position: absolute;
  background-color: var(--darkgrey);
  min-width: 160px;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

#headeralt .dropdown-menu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}

#headeralt .dropdown-menu a:hover {
  background-color: var(--pink);
  color: white;
}

#headeralt .nav-item:last-child {
  /*padding-right: 3rem;*/
}

#headeralt .nav-item {
  padding: 0.5em;
}

#headeralt .navbar-brand {
  /*padding-left: 0.5rem;*/
  padding-right: 0;
  margin-right: 0;
}

#headeralt .navbar-brand img{
  /*width: 30%;*/
  padding-right: 0;
  margin-right: 0;
}

#headeralt .nav-link:hover {
  color: var(--pink);
}

#headeralt .contactbtn {
  font-size: 13px;
  background-color: var(--pink);
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}

#headeralt .contactbtn:hover{
    transform: scale(1.01);
}

/*END OF NAV-DARK*/

/*HOME PAGE=================================*/
/*HERO IMAGE*/
#home-heroimage{
  background-image: url("../img/index-heroimage.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  /*max-width: 100%;*/
  /*overflow: hidden;*/
}
#home-heroimage #heroblock-title {
  margin-top: 100px;
  margin-bottom: 300px;
  padding-left: 10px;
  font-family: var(--PlayfairDisplay);

}

#home-heroimage h1 {
  /*font-weight: bold;*/
  padding: 0.1em 0em;
}

/*CONVERSION DRIVEN OVERLAY RECT BOX*/
#doppleganger .rect {
  position: relative;
  z-index: 2;
  background: var(--darkgreen);
  width: 680px;
  height: auto;
  top: -170px;
  margin-bottom: -130px;
  margin-left: 0;
  padding: 2rem 2rem;
  -webkit-box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 10px -1px rgba(0,0,0,0.75);
  text-align: left;
}
#doppleganger .rect h3 {
  font-family: var(--OpenSans);
  color: var(--white);
  font-weight: 400; 
  padding-bottom: 1rem;
  line-height: 130%;
}

#doppleganger .rect #callbtn{
  margin-bottom: 0.75rem;
  background-color: #ffffff;
  color: #4a504a;
  font-size:1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}

/*DOPPLEGANGER*/
#doppleganger {
  background: #f2f3f0;
  z-index: 0;
  padding-bottom: 3rem;
  font-family: var(--OpenSans);
  font-weight: normal;
}

#doppleganger h1 {
  font-weight: bold;
  font-family: var(--PlayfairDisplay);
  /*word-wrap: break-word;*/
  padding-bottom: 0.5rem;
}

#doppleganger h3{
    font-weight: bold;
    letter-spacing: 0.1rem;
}

#doppleganger .contentbox {
  position: relative;
  height: 600px;
  border: none;
  padding: 0;
  background-color: transparent;
}

#doppleganger .contentbox:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

#doppleganger .contentbox-imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

#doppleganger .dopplegangerimg{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#doppleganger .contentbox-block-overlay{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  padding: 40px 10px 40px 10px; 
  height: 100%;
  text-align: center;
}

#doppleganger .contentboxquote {
  /*margin-bottom: 300px;*/
  padding: 0px 20px;
  font-size: 20px;
}

#doppleganger .contentboxheader {
  padding-bottom: 30px;
  background: transparent;
}

#doppleganger .relatebtn {
  font-size: 16px;    
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  z-index: 1;
  position: absolute;
  bottom: 40px;
  width: 70%;
  left: 15%;
  -webkit-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 11px -3px rgba(0,0,0,0.75);
}

/*BRANDS*/
#brands{
  background-color: #282B2B;
  text-align: center;
}

#brands h3{
  font-weight: 600;
  line-height: 180%;
  font-family: var(--PlayfairDisplay);
}

#brands #checkoutbtn{
  background-color: #FFA39E;
  font-family: var(--OpenSans);
  font-size: 18px;
  margin:auto;
  color: white;
  padding: 10px 25px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  letter-spacing: 0.2rem;
}

#brands .brand-carousel {
background: transparent;
}

#brands .owl-dots {
text-align: center;
margin-top: 2rem;
}

#brands .owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #878787 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin-left: 5px; margin-right: 5px;
}

#brands .owl-dot.active {
background-color: #000 !important;
}

/*COPYWRITING SOLUTIONS*/
#solutions{
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #ffffff;
}

#solutions .card{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

#solutions .card:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #5C7669;
}

#solutions h1{
  line-height: 150%;
  font-family: var(--PlayfairDisplay);
  /*word-wrap: break-word;*/
  margin-bottom: 2rem;
}

#solutions h4 {
  color: #5C7669;
  font-weight: bold;
  line-height: 130%;
  font-family: var(--OpenSans);
  margin-bottom: 2rem;
  text-align: left;
}

#solutions p{
  color: #000000;
  line-height: 150%;
  font-family: var(--OpenSans);
  margin-bottom: 2rem;
  text-align: left;
}

#solutions .card a:hover{
  text-decoration: none;
} 

#solutions .card:hover h4, #solutions .card:hover p{
  text-decoration: none;
  color: #ffffff;
}

#story{
  background-image: url("../img/story-bg.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: white;
}

#story h3{
  color: #000000;
  font-weight: 600;
  line-height: 150%;
  font-family: var(--PlayfairDisplay);
}

#story #hire{
    background-color: #4D504a;
    padding:2rem;
}
#story #donthire{
    background-color: #f2f3f0;
    padding: 2rem;
    color: #9e9e9c;
}

#story h4 {
  font-family: var(--OpenSans);
  font-weight: 600;
  margin-bottom: 1rem;
}

#story #callbtn{
  margin-left: auto;
  margin-right: auto;
  padding: 15px 40px 15px 40px;
  background-color: #5c7669;
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0px;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}
/*END OF HOME PAGE=================================*/


/*ABOUT PAGE=================================*/
#aboutheader{
  height: 100%;
  width: 100%;
  text-align: left;
  color: white;
  background-color:#4D504A;
  min-height: 600px;
}

#aboutheader h1 {
    font-family: var(--PlayfairDisplay);
  line-height: 1;
  text-align: left;
}

#aboutheader #headertext {
  padding-top: 70px;
}

#together{
background: #fffcfc; /* Old browsers */
background: -moz-linear-gradient(top, #fffcfc 30%, #f2f3f0 30%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #fffcfc 30%,#f2f3f0 30%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #fffcfc 30%,#f2f3f0 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#f2f3f0',GradientType=0 ); /* IE6-9 */

  /*padding-top: 2rem; */
}
#together #captiontop{
  font-weight: 700;
  line-height: 4.5rem;
  margin-bottom: 0.5rem;
  font-family: var(--PlayfairDisplay);
}
#together #captionbtm{
  line-height: 150%;
  font-weight: bold;
  font-family: var(--OpenSans);
  /*padding-bottom: 0.8rem;*/
}

#whorwe{
  background-color: #FFA39E;
}
#whorwe h2{
  line-height: 2rem;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
}

#whorwe img{
  object-fit: contain;
  width: 100%;
  height: auto;
}

#whorwe h5 {
  font-family: var(--PlayfairDisplay);
  
}
#workwithus{
  background-color: white;
}
#workwithus h2{
  line-height: 120%;
  text-align: left;
  font-family: var(--PlayfairDisplay);
  padding-bottom: 30px;
}

#workwithus #caption{
  padding-top: 30%;
  padding-left:20%;
  font-size: 2.5rem;
  font-weight: bolder;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', serif;
}

#workwithus  {
  padding-top:10%;
  padding-left: 1.5rem;
  font-weight: bolder;
  font-size: 2rem;
  font-weight: 300;
  line-height: 2rem;
  font-family: 'open Sans', serif;
}
#workwithus p {
  
  font-size: 1rem;
  line-height: 150%;
  font-family: 'open Sans', serif;
}

#workwithus #questiontext {
  font-family: var(--OpenSans);
}
#workwithus #callbtn{
  padding-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px 20px 20px 20px;
    background-color: #5c7669;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
#aboutReview {
  background-color: var(--lightgrey);
}

#aboutReview h5{
  color:#FFA39E;
  line-height: 150%;
}
#aboutReview p{
  color:black;
    line-height: 180%;
}

#aboutReview img{
  object-fit: contain;
  width: 100%;
  height: auto;
}
#aboutReview #callbtn{
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px 10px 20px;
    background-color: #FFA39E;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

/*END OF ABOUT PAGE=================================*/

/*PORTFOLIO PAGE=================================*/
#portfolioheader{
  background-color: var(--darkgrey);
  padding: 8rem 0;
  color: white;
  font-family: var(--PlayfairDisplay);
  text-align: center;
}

#portfolio{
  background-color: white;
}

#portfolio .halfheight {
  height: 200px;
  overflow: hidden;
  padding: 0;
  /*padding-right: 5px;*/
  /*padding-bottom: 5px;*/
}

#portfolio .fullheight {
  height: 200px;
  overflow: hidden;
  padding: 0;
  /*padding-right: 5px;*/
  /*padding-bottom: 5px;*/
}

#portfolio .fullheight2 {
  height: 400px;
  width: auto;
  margin-right: 0;
  overflow: hidden;
  padding: 0;
    /*padding-right: 5px;*/
  /*padding-bottom: 5px;*/
}
#portfolio .col-md-6 {
  padding: 0;
  margin: 0;
}

#portfolio img{
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  border: 5px solid;
  border-color: white;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

.overlay {
  transition: .5s ease;
  opacity: 0.01;
  position: absolute;
  top: 50%;
  left: 50%;
/*background-color: rgba(0,0,0,0.23);*/
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}

.fullheight:hover img, .halfheight:hover img, .fullheight2:hover img {
  opacity: 0.3;
}

.fullheight:hover .overlay, .halfheight:hover .overlay, .fullheight2:hover .overlay {
  opacity: 1;
}

#portfolio .portfolioimg:hover{
      transform: scale(1.01);
}


/*#portfolio{
  background-color: white;
}

.halfheight {
  height: 200px;
    padding: 5px;
  overflow: hidden;
}

.fullheight {
  height: 200px;
  padding: 5px;
  overflow: hidden;
}

.fullheight2 {
  height: 400px;
  width: auto;
  padding: 5px 5px 5px 5px;
  margin-right: 0;
  overflow: hidden;
}

.portfolioimg{
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.portfolioimg:hover{
      transform: scale(1.01);
}*/

#portfolio h4{ 
  font-family: var(--OpenSans);
  z-index: 3;
  position: absolute;
}

#portfolio .viewbtn{
  background-color: #FFA39E;
  font-family: var(--OpenSans);
  font-size: 18px;
  margin:auto;
  color: white;
  padding: 10px 25px 10px 25px;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  letter-spacing: 0.2rem;
  font-size: 16px;
}
.overlaygrey {
  background-color: var(--darkgrey);
  opacity: 90%;
  position: absolute;
  top: 2%;
  /*left: 2%;*/
  bottom: 5;
  width: 98%;
  height: 98%;
  z-index: 1;
}

/*END OF PORTFOLIO PAGE=================================*/


/*SERVICE LANDING PAGE=================================*/
#services-heroimage {
  padding-bottom: 10rem;
  min-height: 900px;
  height: 100%;
  width: 100%;
  background-image: url("../img/service-landing-header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

#services-heroimage h1 {
  font-weight: 680;
  line-height: 150%;
  font-family: var(--PlayfairDisplay);
  text-align: left;
  letter-spacing: 1.2rem;
  color: black;
  margin-left: 40px;
}

#copywriting{
  background-color: white;
  padding-top:  4rem; 
  padding-bottom: 8rem;
}
#copywriting h2{
  font-weight: 700;
  font-family: var(--PlayfairDisplay);
  letter-spacing: 0.2rem;
}

#copywriting p{
  line-height: 1.5rem;
  font-family: var(--OpenSans);
}
#copywriting #callbtn{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  padding: 10px 15px 10px 15px;
  background-color: var(--darkgreen);
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  letter-spacing: 0.2rem;
}

#copywriting #callbtn:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: var(--lightgrey);
  color: var(--darkgreen);
}

#copywriting #imgcopywriting{
  object-fit: contain;
  width: 100%;
  height: auto;
}

#businessgrow{
  background-color: #282B2B;
  color: white;
}

#businessgrow h2 {
  line-height: 125%;
  font-family: var(--PlayfairDisplay);
  letter-spacing: 0.1rem;
}

#businessgrow p{
  font-family: var(--OpenSans);
  line-height: 200%;
}

#businessgrow .far {
  margin-right: 10px;
}

#stoplosing{
  background-color: #F2F3F0;
    color: var(--darkgrey);
}
#stoplosing h2{
  font-family: var(--OpenSans);
  font-weight: bold;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
}
#stoplosing h4{
  line-height: 200%;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: 400;
}

#stoplosing #callbtn{
  margin-left: auto;
  margin-right: auto;
  padding: 15px 15px 15px 15px;
  background-color: var(--darkgreen);
  color: white;
  font-size:1rem;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  letter-spacing: 0.2rem;
}

#stoplosing #callbtn:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: var(--lightgrey);
  color: var(--darkgreen);
}

#ourservices{
  background: #ffffff;
}

#ourservices #carddeck {
  padding-left: 150px;
  padding-right: 150px;
  margin: 0;
}

#ourservices .card{
  border-radius: 4px;
  background: #f2f3f0;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 40px;
  height: 450px;
  /*height: auto;*/
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

#ourservices .card:hover{
  transform: scale(1.01);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #5C7669;
}

#ourservices h2{
  line-height: 150%;
  font-family: var(--PlayfairDisplay);
  color: var(--darkgreen);
  margin-bottom: 2rem;
}

#ourservices h5 {
  color: #5C7669;
  font-weight: bold;
  line-height: 130%;
  font-family: var(--OpenSans);
  margin-bottom: 1rem;
  text-align: left;
}

#ourservices p{
  color: #000000;
  line-height: 150%;
  font-family: var(--OpenSans);
  margin-bottom: 2rem;
  text-align: left;
  font-size: 16px;
}

#ourservices .card a:hover{
  text-decoration: none;
} 

#ourservices .card:hover h5, #solutions .card:hover p{
  text-decoration: none;
  color: #ffffff;
}

#ourservices #ending{
  color: #000000;
  font-weight: 400;
  font-size: 85%;
  font-family: var(--OpenSans);
}

#ourservices #callbtn{
  font-size: 0.8rem;
  padding: 10px 10px 10px 10px;
  background-color: var(--darkgreen);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1); 
  letter-spacing: 0.2rem;
}

#ourservices #callbtn:hover{
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #F2F3F0;
  color: #5C7669;
}
/*END OF SERVICE LANDING PAGE=================================*/


/*SERVICE-INDIVIDUALS*/
#servicesheader{
  background-color: var(--darkgrey);
  padding: 8rem 0;
  color: white;
  font-family: var(--PlayfairDisplay);
  text-align: center;
}

.threeways {
  background-color: var(--darkgreen);
    color: white;
  font-family: var(--PlayfairDisplay);
}

.threeways .contentbox {
  background-color: white;
  border-radius: 10px;
  color: var(--darkgreen);
  padding: 15px 15px;
}

.threeways .contentbox p {
    font-family: 'Open Sans', serif;
  line-height: 1.2rem;
  font-size: 18px;
}

#threeways-brand .contentbox {
  height: 350px;
}

#threeways-email .contentbox {
  height: 530px;
}

#threeways-website .contentbox {
  height: 450px;
}

#threeways-content .contentbox {
  height: 450px;
}
#threeways-landing .contentbox {
  height: 390px;
}

#businesscovered{
  padding: 10rem 0;
  padding-top: 25rem;
  min-height: 900px;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-image: url('../img/industry.jpg');
}

#businesscovered h2 {
  color: var(--darkgrey);
  font-family: var(--PlayfairDisplay);
  text-align: center;
}

#businesscovered .far{
  color: var(--pink);
}

#businesscovered h4 {
  font-family: var(--OpenSans);
  text-align: left;
  color: var(--darkgrey);
}

#clickrates {
  background-color: white;
}
#clickrates h4{
  font-weight: 500;
  line-height: 2rem;
  text-align: left;
  font-family: var(--OpenSans);
}
#clickrates p{
  font-weight: 50;
  line-height: 2rem;
  font-family: var(--OpenSans);
  text-align: center;
}

#clickrates .rectangle {
  margin-top:2%;
  height: 10px;
  width: 30%;
  background-color: #5C7669;
}

#clickrates .clickratesimg{
  object-fit: cover;
  width: 80%;
  height: auto;
}

#procedure1 {
  background-color: white;
  padding: 10rem 0;
  min-height: 800px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-image: url('../img/procedure1bg.png');
  font-family: var(--OpenSans);
  color: white;
}

#procedure1 h2{
  font-family: var(--PlayfairDisplay);
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 150%;  
}
#procedure1 h4{
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  line-height: 150%;  
}  
#procedure1 p{
  line-height: 150%;
  letter-spacing: 0.1rem;
}
#procedure1 .fas {
width: 100%;
text-align: right;
}

#procedure2 {
  background-color: white;
  font-family: var(--OpenSans);
  color: #757B66;
}

#procedure2 h2{
  font-family: var(--PlayfairDisplay);
  text-align: center;
  letter-spacing: 0.2rem;
  line-height: 150%;  
}
#procedure2 h4{
  line-height: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  line-height: 150%;  
}  
#procedure2 p{
  line-height: 150%;
  letter-spacing: 0.1rem;
}
#procedure2 .fas, #procedure2 .far {
  width: 100%;
  text-align: right;
}

#servicereview{
  color: black;
  font-family: var(--OpenSans);
  text-align: left;
}

#servicereview h5{
  color: var(--pink);
  font-weight: bold;
}

#servicereview p {
  font-weight: 400;
}

#servicereview img{
  object-fit: contain;
  max-width: 100%;
}
#servicereview #callbtn{
  padding: 15px 40px;
  background-color: var(--pink);
  color: var(--white);
  font-weight: bolder;
  text-transform: uppercase;
  font-family: var(--OpenSans);
  border-radius: 0px;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}
#servicereview #callbtn:hover{
  box-shadow: 0 4px 8px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: var(--white);
  color: var(--pink);
}
/*END OF SERVICE-WEBSITE COPYWRITING*/



/*CASE STUDY PAGE=================================*/
.casestudyheader {
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-align: center;
    background-color: #4D504a;
}

.casestudyheader h1 {
    font-weight: 500;
    line-height: 4.5rem;
    margin-bottom: 3rem;
    font-family: var(--PlayfairDisplay);
}

#cs-problem{
  background-color: white;
  z-index: 0;
  height: auto;
}

#cs-problem .rect {
  position: relative;
  z-index: 2;
  background: transparent;
  width: 850px;
  height: 600px;
  top: -300px;
  margin-bottom: -100px;
  box-shadow: 21px 21px 60px -20px #000000;
  -webkit-box-shadow: 21px 21px 60px -20px #000000;
  -moz-box-shadow:21px 21px 60px -20px #000000;
}

#cs-problem #furamaimg{
  position: relative;
  width: 60%;
  height: 100%;
  top: 0;
  float: left;
  overflow: hidden;
  margin-bottom: -100px;    
}

#cs-problem #cs-intro-block {
  position: relative;
  width: 40%; 
  background-color: white;
  font-family: var(--OpenSans);
  height: 100%;
  float: right;
  padding: 30px;
  text-align: left;
    margin-bottom: -100px;
}

#cs-problem #cs-intro-block > h5 {
    margin-bottom: 10px;
    font-weight: 700;
}

#cs-problem #cs-intro-block > p {
    color: #282B2B;
    margin-bottom: 10px;
    font-size: 16px;
}


#cs-problem #client-quote-image{
    width: 70px;
    height: 70px;
    margin-right: 20px;
    float: left;
    border-radius: 4px;
    background-color: #ffffff;
    background-image: url('../img/cs-furama.png'); 
    background-size: 120%; 
    background-repeat: no-repeat; 
    background-position: 50%;
}
#cs-problem #client-quote-name{
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

#cs-problem #cs-problempicbox{
  position: relative;
  width: 100%;
  height: 600px;
  /*float: right;*/
}

#cs-problem .cs-mockup-image{
  position: relative;
  object-fit: contain;
}


#cs-problem .content-textbox {
  position: relative;
  width: 100%;
  height: auto;
  /*float: left;*/
  text-align: left;
}
#cs-problem #cs-background{
  background-color: #F2F3F0;
  padding: 20px;
}

#cs-problem #cs-problem{ 
    padding: 20px;
}

#cs-background h4 {
  color: #4d504a;
  font-weight: bold;
  font-family: var(--PlayfairDisplay);
  padding-bottom: 15px;
}

#cs-background p, #cs-problem p, #cs-solution p {
  font-family: var(--OpenSans);
  line-height: 150%;
}

#cs-problem h4 {
    font-weight: bold;
  font-family: var(--PlayfairDisplay);  
  padding-bottom: 15px;
}

#cs-solution h4{
  font-weight: bold;
  font-family: var(--PlayfairDisplay);
  padding-bottom: 15px;
}

#cs-solution {
    z-index: 0;
    background-color: white;
}

#cs-solution #solutionimg{
  position: relative;
  float: left;
}
#cs-solution #solutiontext {
  position: relative;
  text-align: left;
  float: right;
  padding: 20px;
}

#likewhatyousee{
    background-color: #FFA39E;
    padding-top: 50px;
    padding-bottom: 75px;
}

#likewhatyousee h2{
    font-weight: 700;
    line-height: 50px;
    font-family: var(--PlayfairDisplay);
}

#likewhatyousee h5{
    font-family: var(--OpenSans);
}

#likewhatyousee ul{
    margin-bottom: 0;
    text-align: left;
    list-style: none;
    padding-left: 0;
}

#likewhatyousee li{
    position: relative;
    z-index: 5;
    margin-top: 8px;
    padding-left: 35px;
    line-height: 30px;
}

#likewhatyousee p{
    line-height: 23px;
    font-family: var(--OpenSans);
}

#likewhatyousee #callbtn{
  margin-left: auto;
  margin-right: auto;
  padding: 15px 60px;
    background-color: #5c7669;
    color: #ffffff;
    font-weight: bolder;
    text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0px;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
-moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
}

/*END OF CASESTUDY PAGE=================================*/
#contactheader{
  min-height: 900px;
  height: 100%;
  width: 100%;
  text-align: left;
  color: black;
  /*padding: 0;*/
  background-image: url("../img/contact-page-header.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.greytext{color:#4D504A;}

#contactheader h1 {
  line-height: 5.5rem;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: var(--OpenSans);
  text-align: left;
  letter-spacing: 0.2rem;
}

#contact{
  background-color: white;
  padding-bottom: 8rem;
  font-family: var(--OpenSans);
}
#contact h2{
  line-height: 5rem;
  margin-bottom: 2rem;
  padding-top: 5rem;
  letter-spacing: 0.2rem;
  text-align: center;
}

#contact h3 {
  line-height: 4rem;
  margin-bottom: 1rem;
  padding-top: 100px;
  letter-spacing: 0.2rem;
  text-align: right;
  color: #5C7669;
}
#contact #contactinfo{
  line-height: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.2rem;
  text-align: right;
}
#contact #formcolp {
  margin-bottom: 2rem;
  text-align: left;
  letter-spacing: initial;
}
#contact #contactform h6{
  line-height: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: 'Open Sans', serif;
  text-align: left;
}
#contact #submitbtn{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding: 10px 25px 10px 25px;
  background-color: #5c7669;
  color: white;
  font-size:1rem;
  font-weight: normal;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  border-radius: 0;
  -webkit-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  -moz-box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  box-shadow: 7px 9px 17px -17px rgba(0,0,0,1);
  float: left;
  letter-spacing: 0.2rem;
}
#contact #submitbtn:hover{
  box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #F2F3F0;
  color: #5C7669;
}
#contact #contactform input, #contactform textarea{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.2rem;
}
#contact #contactform input:hover, #contactform textarea:hover{
  border:1px solid black;
  background-color: white;
}
#contact #contactform input:focus, #contactform textarea:focus{
  border:1px solid black;
}

/*CONTACT PAGE=================================*/


/*END OF CONTACT PAGE=================================*/

/*PRIVACY POLICY=================================*/
#privacyheader {
    padding-top: 10rem;
    padding-bottom: 10rem;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #4D504a;
}

#privacyheader h1 {
    font-weight: 500;
    line-height: 4.5rem;
    margin-bottom: 3rem;
    font-family: var(--PlayfairDisplay);
}

#privacyheader h4 {
    margin-block-start: 2rem;
    font-family: var(--OpenSans);
}

#privacy p{
    display: block;
    font-family: var(--OpenSans);
    color: #4D504a;
    margin-block-start: 0.2em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#privacy h5{
    font-family: var(--OpenSans);
    margin: 0;
}
/*END OF PRIVACY POLICY=================================*/

footer{
     background-color: #5C7669;
     padding:70px 0px 20px 0px;
     color: white;
    letter-spacing: 0.1rem;
    text-decoration:none;
    font-size:0.75rem;
    font-weight: lighter;
    font-family: var(--OpenSans);
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
}        

footer .footercontainer {
  max-width: 1200px;
}

footer ul li{
    padding:5px 0px;
}

footer ul{
  padding: 0px;
  text-align: left;
}

footer .social span , .quicklinks span{
     color: #FFFFFF; 
     font-weight: 600;
     padding-bottom: 10px;
     display: block;
     font-size: 1.75rem;
     line-height: 2rem;
     letter-spacing: 0.1rem;
    font-family: var(--PlayfairDisplay);
}
 
footer .social li , .quicklinks li a{
    color:#FFF;
    letter-spacing: 0.1rem;
    text-decoration:none;
    font-size:15px;
    font-family: var(--OpenSans);
}

footer .quicklinks li a:hover{
    color:#FFA39E;
}

footer .quicklinks , .social {
    list-style: none;
}

footer .contact {
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 15px;
  padding: 5px 15px 10px 15px;
}

footer .contact span {
    color:#000000;
    text-decoration:none;
    font-size: 1.5rem;
    letter-spacing: 0;
    font-family: var(--OpenSans);
}

footer .footercontactform {
  margin: 10px;
}

footer .footercontactform .btn {
  background-color: #5C7669;
  border-color: 1px solid #5C7669;
  border-radius: 20px;
  width: 80%;
  color: #ffffff;
}

footer .footercontactform input, .footercontactform textarea {
  background-color: #D0DFE8;
  border: 1px solid #D0DFE8;
  border-radius: 15px;
}

.sticky {
  position: fixed;
  top: 0 !important;
  width: 100%;
  max-width: 1800px;
  /*background-color: white !important; */
  z-index: 9999;
  transition: all 1.5s ease;
}
